{% load static %}
<style>
    table{
        padding-top: 40px;
    }
    h1{
        padding-top: 40px;
        color:brown;
        
    }
    th{
       background-color: darkseagreen;
       color:rgb(18, 119, 207);
       font-size:20;
    }
    tr{
        background-color: rgb(132, 173, 235);
       color:rgb(228, 199, 225);
       font-size:20;

    }
    button{
        background-color: lightpink;
        border-color: lightpink ;
        
    }
    a{
        text-decoration: none;
        color:aliceblue;
    }
</style>
<body style="background-image:url({% static 'images/user.jpg' %});background-repeat:no-repeat;background-size:cover;">
    <center>
    <form method="post"action="/AdminApp/update">
    
    {% csrf_token %}
    <h1>USER DETAILS</h1>
    <table>
        <thead>
            <th>Name</th>
            <th>Mobile Number</th>
            <th>Email</th>
            <th>Password</th>
            <th>Confirm Password</th>
            <th>Update</th>
            
        </thead>
        <tbody>
            {% for m in data %}
            <tr>
                <td>
                    <input type="text"value="{{m.fnm}}"name="fn">
                    <input type="text"value="{{m.id}}"name="idl"hidden>
                </td>
                <td><input type="number"value="{{m.mob}}"name="mb"></td>
                <td><input type="email"value="{{m.eml}}"name="em"></td>
                <td><input type="password"value="{{m.psw1}}"name="ps1"></td>
                <td><input type="password"value="{{m.psw2}}"name="ps2"></td>
                <td><button type="submit">Update</button></td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
</center>
</body>